body {
    font-family: signika negative, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #f2f3f5
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    background: 0 0
}

a {
    color: #343a40;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms
}

.footer-bottom a {
    color: #f8f9fa;
}

.post-content h1 a {
    color: #f8f9fa;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #9c9c9c
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: capitalize
}

.padding {
    padding: 90px 0
}

.section {
    margin-bottom: 30px
}

.section-title {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 0;
    position: relative;
    font-size: 24px;
    text-transform: capitalize;
    color: #525b6e;
    font-weight: 600
}

.section-title:before {
    width: 50px;
    z-index: 1
}

.section-title:after {
    right: 0;
    background-color: #e6e6e8
}

.section-title:before,
.section-title:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    height: 2px
}

.section-title.title {
    margin-bottom: 45px
}

.btn-primary.btn-animated {
    font-size: 12px;
    font-weight: 700;
    padding: 17px 47px;
    background-color: transparent;
    text-transform: uppercase;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    letter-spacing: 2px
}

.btn-primary.btn-animated:hover,
.btn-primary.btn-animated:focus {
    background-color: transparent;
    outline: none;
    border: 3px solid #a0d48c
}

.btn-primary {
    color: #fff;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 45px;
    outline: none;
    text-transform: uppercase
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #333;
    color: #fff;
    outline: none;
    border: 0
}

.parallax-section {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 437px;
    color: #fff;
    position: relative
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.form-control {
    height: 35px;
    padding: 6px 12px;
    color: #000;
    border: 2px solid #ececec;
    border-radius: 2px;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    background-color: #fff;
    font-weight: 500
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    background-color: #fff
}

textarea.form-control {
    padding: 15px 20px;
    resize: none
}

label {
    font-weight: 400
}

button {
    cursor: pointer
}

.form-group {
    margin-bottom: 20px
}

.navbar-toggle {
    border: 1px solid #fff;
    margin-top: 13px
}

.navbar-toggle .icon-bar {
    background-color: #384650
}

.navbar-toggle,
.navbar-fixed-top .navbar-toggle {
    border: 1px solid #384650
}

.navbar-toggle .icon-bar,
.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #384650
}

.image-bg {
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative
}

.image-bg .section-title h1 {
    color: #fff
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: inherit;
    background-color: inherit
}

.badge {
    margin-left: 5px;
    font-size: 11px
}

.mfp-figure {
    background-color: #fff
}

img.mfp-img {
    padding: 12px
}

.mfp-image-holder .mfp-close {
    top: -35px
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer
}

.mfp-counter {
    right: 50%;
    color: #fff;
    top: 50px;
    margin-right: -20px
}

#navigation .sticky-nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: -1px;
    z-index: 9999;
    background: #fff
}

#navigation .sticky-nav #topbar {
    display: none
}

.secondary-logo {
    display: none
}

#navigation .sticky-nav .secondary-logo {
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 9999
}

#navigation .sticky-nav .navbar-nav {
    margin-right: 20px
}

.homepage #navigation .sticky-nav .navbar-nav {
    margin-left: 220px
}

#navigation .navbar {
    display: block;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.nav>li>a,
.page .navbar-nav>li>a {
    display: block
}

#navigation .navbar-nav li a {
    padding: 15px 10px
}

@media(max-width:999px) {
    .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: #fff
    }
    #navigation .navbar-header {
        float: none
    }
    #navigation .navbar-toggle {
        display: block
    }
}

@media(min-width:1000px) {
    #navigation .navbar-collapse {
        padding: 0
    }
    #navigation .navbar-nav li,
    .dropdown {
        position: relative
    }
    #navigation .navbar-nav {
        top: 2px
    }
    #navigation .language-dropdown .dropdown-menu {
        min-width: 75px
    }
    #navigation .language-dropdown.open>.dropdown-menu,
    #navigation .navbar-nav>li.dropdown:hover>.dropdown-menu {
        display: block
    }
    #navigation .open>.dropdown-menu,
    #navigation-v1 .open>.dropdown-menu {
        display: none
    }
}

@media(min-width:992px) {
    .navbar-expand-lg .navbar-nav .more .dropdown-menu {
        left: inherit;
        right: 0;
        min-width: 200px
    }
    .navbar-expand-lg .navbar-nav li.dropdown:hover .dropdown-menu {
        display: block
    }
}

#navigation .navbar-nav .mega-cat-dropdown,
#navigation .navbar-nav .mega-dropdown {
    position: inherit
}

#mainmenu .mega-cat-menu {
    background-color: #3a3a3a;
    padding: 30px 0 45px;
    border: none;
    min-width: 100%;
    border-radius: 0;
    z-index: 9999!important;
    margin-top: -2px!important;
    left: -1px
}

#mainmenu .sub-catagory {
    overflow: hidden
}

#mainmenu .sub-catagory .section-title {
    color: #fff
}

#mainmenu .sub-catagory ul {
    float: right;
    margin-top: -35px
}

#mainmenu .sub-catagory ul li {}

#mainmenu .sub-catagory ul li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px;
    z-index: 1000;
    position: relative;
    border-bottom: 2px solid transparent
}

#mainmenu .sub-catagory ul li a:hover {
    color: #fff
}

#mainmenu .post a:hover {
    color: #aeaeae
}

#mainmenu .dropdown-menu>li>a {
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 20px;
    display: block
}

.dropdown-menu>li>a {
    color: #aeaeae
}

#mainmenu .mega-menu {
    min-width: 100%;
    background-color: #fff;
    padding-bottom: 45px
}

#mainmenu .mega-menu h2 {
    font-size: 16px;
    color: #999;
    font-weight: 600;
    margin-top: 15px
}

#mainmenu .mega-menu ul {
    margin-left: 0
}

#mainmenu .mega-menu li a {
    display: block;
    padding: 5px 0
}

#mainmenu .mega-menu .entry-thumbnail {
    margin-top: 25px
}

#navigation {
    background-color: #fff;
    width: 100%;
    clear: both
}

#navigation .navbar .topbar {
    border-bottom: 1px solid #eee
}

#topbar {
    float: none
}

.navbar-brand {
    padding: 10px 0
}

.homepage .navbar-brand {
    padding: 13px 0
}

#topbar-right {
    float: right
}

.language-dropdown,
#date-time,
#weather {
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
    line-height: 60px;
    color: #525b6e;
    font-size: 14px
}

.language-dropdown .dropdown-menu {
    border-radius: 0;
    border-color: #ebecee;
    min-width: 74px;
    text-align: center
}

.language-dropdown .dropdown-menu>li>a {
    line-height: 30px;
    display: block
}

.language-dropdown .dropdown-menu>li>a:focus,
.language-dropdown .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.language-dropdown a {
    color: #384650;
    text-transform: uppercase
}

#topbar-right #weather .weather-icon {
    max-width: 30px;
    display: inline-block;
    margin-right: 5px
}

#topbar-right #weather img {
    max-width: 100%
}

#date-time,
#weather {
    border-left: 1px solid #ebecee
}

.searchNlogin {
    float: right;
    position: relative
}

.searchNlogin li {
    float: left;
    border-left: 1px solid #ebecee;
    padding: 15px 20px;
    color: #aeaeae;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.searchNlogin li:hover {
    color: #525b6e
}

.user-section {
    float: right
}

#mainmenu {
    padding-right: 0;
    padding-left: 0
}

.search {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 110px;
    width: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.expanded .search {
    opacity: 1;
    width: 300px
}

.search-form {
    padding-left: 0;
    height: 54px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    width: 100%;
    border: 1px solid #eee;
    background-color: #f2f3f5;
    border-right: 0
}

.expanded .search-form {
    padding-left: 15px
}

.expanded .search-icon {
    background-color: #f2f3f5;
    border-left-color: #f2f3f5;
    color: #525b6e
}

#navigation .dropdown-menu.top-user-section,
.dropdown-menu.top-user-section {
    padding: 0;
    border-top: 0;
    position: absolute;
    right: 15px;
    top: 52px;
    min-width: 360px;
    background-color: #3a3a3a;
    z-index: 15;
    left: inherit;
    margin-top: 0!important
}

.dropdown-menu.top-user-section {
    right: 0
}

.top-user-form:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 5px solid #3a3a3a;
    top: -5px;
    right: 1px
}

.top-user-section a {
    color: #fff
}

.top-user-form {
    padding: 30px;
    font-size: 12px;
    overflow: hidden;
    cursor: default
}

.create-account {
    padding: 20px 30px 17px;
    background-color: #1f1f1f;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300
}

.input-group {
    margin-bottom: 20px
}

.top-user-form .btn {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 30px;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.top-user-form .reset-user {
    float: left;
    margin-top: 16px
}

.input-group-addon {
    background-color: #fff;
    border: 0;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px
}

.input-group img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.form-control:active img,
.input-group:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.input-group .form-control {
    border: 0
}

#navigation .user-panel:hover .dropdown-menu.top-user-section,
.searchNlogin li:hover .dropdown-menu.top-user-section {
    display: block
}

.navbar {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

#mainmenu li a:hover {
    color: inherit
}

#mainmenu .home {
    color: #ed1c24
}

#mainmenu .business {
    color: #00aeef
}

#mainmenu .politics {
    color: #0072bc
}

#mainmenu .sports {
    color: #f26522
}

#mainmenu .world {
    color: #f7941d
}

#mainmenu .technology {
    color: #8dc63f
}

#mainmenu .environment {
    color: #00a651
}

#mainmenu .health {
    color: #92278f
}

#mainmenu .entertainment {
    color: #1cbbb4
}

#mainmenu .lifestyle {
    color: #ed145b
}

#mainmenu .more {
    color: #2f2f2f
}

#mainmenu .dropdown-toggle::after {
    display: none
}

/* Navigation Menu */


.feature-post {
    position: relative
}

.feature-post .post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding: 25px 35px; */
    z-index: 1;
    color: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    border-radius: 0 0 3px 3px;
    width: 100%
}

.feature-post .entry-title a,
.feature-post .entry-meta a,
.feature-post .entry-title a:hover,
.feature-post .entry-meta a:hover {
    color: #fff
}

.entry-meta {
    font-size: 12px
}

.post {
    overflow: hidden;
    border-radius: 3px;
    margin-top: 30px;
    background-color: #fff;
    border-bottom: 2px solid #f2f3f5;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.post:hover {
    border-bottom: 2px solid #eee
}

.post.feature-post {
    background-color: inherit
}

.post .entry-title {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 10px
}

.catagory {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    opacity: 0.9;
}

.catagory a {
    color: #fff;
    display: block;
    padding: 3px 12px;
    font-size: 12px;
    text-transform: uppercase
}

.feature-post img {
    border-radius: 3px
}

.post img,
.post-content,
.entry-meta,
.entry-title {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.feature-post:hover .post-content {
    padding-top: 50%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0)
}

.entry-thumbnail {
    overflow: hidden
}

.post img:hover {
    -webkit-transition: all .3s ease 0s;
    -khtml-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-transform: scale(1.1);
    -khtml-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.post .carousel-inner .item img,
.post .add img,
.post.feature-post img {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.catagory.world a {
    background-color: #f7941d
}

.catagory.health a {
    background-color: #92278f
}

.catagory.entertainment a {
    background-color: #1cbbb4
}

.catagory.technology a {
    background-color: #8dc63f
}

.catagory.politics a {
    background-color: #0072bc
}

.catagory.business a {
    background-color: #00aeef
}

.catagory.sports a {
    background-color: #f26522
}

.catagory.environment a {
    background-color: #00a651
}

.catagory.lifestyle a {
    background-color: #1cbbb4
}

.owl-controls .owl-pagination {
    float: right;
    margin-top: -40px;
    position: relative;
    padding-right: 25px
}

.owl-theme .owl-controls .owl-pagination {
    text-align: center
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

.add.featured-add {
    margin-top: 30px
}

.add {
    position: relative;
    margin-top: 40px
}

.google-add,
.google-add:hover {
    text-align: center;
    background-color: transparent;
    border-bottom: 0
}

.google-add .add {
    display: inline-block;
    max-width: 728px;
    height: 90px;
    margin-top: 10px
}

.add:before {
    position: absolute;
    right: 0;
    top: -15px;
    content: "Advertisement";
    font-size: 10px;
    color: #a5a5a5
}

.add img {
    border-radius: 3px;
    display: inline-block
}

#latest-news .post {
    margin-right: 30px;
    position: relative
}

.latest-news-wrapper {
    margin-right: -30px;
    margin-top: 5px;
    margin-bottom: 5px
}

.post-content {
    padding: 30px 25px
}

.post-content i {
    margin-right: 5px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#latest-news {
    position: relative
}

.post.medium-post .entry-title {
    text-transform: initial;
    font-size: 16px;
    line-height: 1.3
}

.entry-title a,
.entry-meta a {
    color: #000
}

.entry-title a:hover {
    color: #9c9c9c
}

#latest-news .owl-controls .owl-pagination {
    position: absolute;
    top: 21px;
    right: 3px;
    text-align: right
}

#latest-news .owl-controls .owl-page span {
    background-color: #c2c3c4;
    margin: 3px
}

.latest-news-wrapper .section-title:after {
    margin-right: 80px
}

#latest-news:hover .post img {
    opacity: .6
}

#latest-news .post:hover img {
    opacity: 1
}

/*First Div Section*/
.section {
    position: relative
}

.cat-menu {
    position: absolute;
    top: 10px;
    right: 0
}

.section>.cat-menu {
    visibility: hidden
}

.section:hover>.cat-menu {
    visibility: visible
}

.cat-menu a {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #525b6e;
    border-bottom: 2px solid transparent
}

.list-post {
    padding-bottom: 10px
}

.list-post li {
    border-top: 1px solid #eee
}

.list-post li a {
    display: block;
    padding: 17px 30px;
    color: #000
}

.list-post li a:hover {
    color: #9c9c9c
}

.list-post li a i {
    float: right
}

.small-post .post-content {
    padding: 20px 20px 0
}

.post.small-post .entry-title {
    font-size: 12px;
    line-height: 17px;
    margin-top: 5px!important
}

.entry-content {
    color: #888;
    font-size: 14px;
    font-weight: 300
}

.left-content .post .entry-title {
    margin-bottom: 20px;
    margin-top: 12px
}

#photo-gallery {
    background-color: #fff
}

#photo-gallery .carousel-item h2 {
    font-size: 18px;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 10px
}

#photo-gallery .carousel-item h2 a {
    color: #000
}

#photo-gallery .carousel-item h2 a:hover {
    color: #aeaeae
}

.gallery-indicators {
    position: inherit;
    width: 100%;
    left: 0;
    margin-left: 0;
    text-align: left;
    padding: 5px 30px;
    justify-content: left
}

.gallery-indicators li,
.gallery-indicators li.active {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    margin: 3px;
    text-indent: inherit
}

.gallery-indicators li {
    opacity: .4
}

.gallery-indicators li.active,
.gallery-indicators li:hover {
    opacity: 1
}

.gallery-turner {
    position: absolute;
    right: 28px;
    bottom: 37px;
    font-size: 25px;
    z-index: 50
}

.gallery-turner a {
    margin: 5px
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover
}

.carousel-fade .carousel-inner .active {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-control {
    z-index: 2
}

.health-feature {
    overflow: hidden;
    max-height: 185px
}

.left-content .post.medium-post .entry-title {
    margin-bottom: 0
}

.health-section .entry-header,
.health-section .post-content {
    width: 50%;
    float: left
}

.health-feature .post .entry-title {
    line-height: 22px
}

.health-section .small-post .entry-header {
    max-width: 100px;
    float: left
}

.health-section .small-post .entry-title {
    text-transform: initial
}

.health-section .small-post {
    max-height: 95px
}

.health-section .small-post .post-content {
    padding: 15px;
    width: 60%;
    float: left
}

.football-result .featured-result {
    background-image: url(../images/others/league-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2f5088;
    color: #fff;
    text-align: center;
    padding: 30px 20px
}

.football-result .featured-result h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase
}

.featured-result .verses {
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px
}

.featured-result .match-result {
    font-size: 24px
}

.league-result {
    background-color: #fff;
    text-align: center
}

.league-result ul li {
    border-bottom: 1px solid #f2f3f5;
    padding: 25px 10px
}

.league-result img {
    display: inline-block;
    margin-top: -3px;
    width: 20px
}

.league-result span {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px
}

.league-result .col-xs-4 {
    padding-left: 0;
    padding-right: 0
}

.video-section .video-catagory {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 11px;
    text-transform: uppercase
}

.video-post-list .post,
.widget .post-list .post {
    max-height: 100px
}

.video-post-list .entry-header,
.widget .post-list .entry-header {
    float: left;
    width: 40%
}

.video-post-list .entry-thumbnail,
.widget .post-list .entry-thumbnail {
    height: 100px
}

.video-post-list .post-content,
.widget .post-list .post-content {
    float: left;
    width: 60%;
    padding: 20px 15px
}

 /*Secound Div Section*/

